<footer>
  <main>
    <div class='footer-call'>
      <Logo />
      <p>NFe.io © 2017. Todos os Direitos Reservados</p>
      <a href='https://nfe.io' rel='noopener noreferrer' target='_blank'>Conheça
        a NFe.io</a>
    </div>
    <div class='footer-links'>
      <ul>
        <li><p>Assuntos</p></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/blog/gestao-empresarial/'
            rel='noopener noreferrer'
            target='_blank'
          >Gestão Empresarial</a></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/blog/financeiro/'
            rel='noopener noreferrer'
            target='_blank'
          >Gestão Financeira</a></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/blog/nota-fiscal'
            rel='noopener noreferrer'
            target='_blank'
          >Nota Fiscal</a></li>
      </ul>
      <ul>
        <li><p>NFe.io</p></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/nota-fiscal-de-servico-eletronica'
            rel='noopener noreferrer'
            target='_blank'
          >Notas Fiscais</a></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/consulta-de-dados'
            rel='noopener noreferrer'
            target='_blank'
          >Consultas Automatizadas</a></li>
      </ul>
      <ul>
        <li><p>Empresa</p></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/'
            rel='noopener noreferrer'
            target='_blank'
          >Saiba Mais</a></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/contato'
            rel='noopener noreferrer'
            target='_blank'
          >Parcerias</a></li>
        <li class='footer-link-item'><a
            href='https://nfe.io/contato'
            rel='noopener noreferrer'
            target='_blank'
          >Contato</a></li>
      </ul>
    </div>
  </main>
</footer>