<div class="search">
    <h1 class="search-text">Consultar dados de CNPJ grátis online</h1>
    
    <div class='input-wrapper'>

        {{!-- <input 
        type="text"
        class='search-input'
        placeholder='Digite o número do CNPJ'
        id='cnpj-search'
        >
        --}}
        <Input
            class='search-input'
            @type="text"
            @value={{@cnpj}}
            placeholder='Digite o número do CNPJ'
            id='cnpj-search'
            {{on 'input' @handleCnpj}}
            @enter={{@handleQuerry}}
        />

        

        
    </div>
    

</div>