footer {
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
  }
  
  footer main {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    gap: 0 1rem;
    padding: 60px 60px;  }
  
  footer main .footer-call,
  footer main .footer-links {
    display: flex;
  }
  
  footer main .footer-call {
    width: 240px;
    flex-direction: column;
  }
  
  footer main .footer-call svg {
    width: 100px;
  }
  
  footer main .footer-call p {
    font-size: 0.8rem;
    letter-spacing: 0.2px;
    color: #1b2738;
    opacity: 0.8;
    margin: 1em 0 0.8em;
    font-family: 'Roboto', sans-serif;
  }
  
  footer main .footer-call a {
    color: white;
    background: #0080cc;
    text-decoration: none;
    font-weight: 800;
    width: fit-content;
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
  }
  
  footer main .footer-call a:hover {
    scale: 1.005;
  }
  
  footer main .footer-call .cls-1-menu {
    fill: #30c1a5;
  }
  footer main .footer-call .cls-2-menu {
    fill: #002c54;
  }
  
  footer main .footer-links {
    width: 100%;
    margin-left: 80px;
    justify-content: space-between;
  }
  
  footer main .footer-links ul {
    width: 33.3%;
  }
  
  footer main .footer-links ul li {
    text-align: center;
    font-size: 0.9rem;
    color: #1b2738;
    font-family: 'Roboto', sans-serif;
  }
  
  footer main .footer-links ul li:first-of-type {
    margin-bottom: 0.8rem;
  }
  
  footer main .footer-links ul li p {
    font-weight: 700;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
  }
  
  .footer-link-item a {
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    color: #1b2738;
    opacity: 0.75;
    text-decoration: none;
    transition: 0.15s all;
    font-family: 'Roboto', sans-serif;
  }
  
  .footer-link-item a:hover {
    opacity: 1;
    color: #03a9f4;
  }
  
  .footer-link-item a {
    padding-top: 0.6rem;
  }
  
  @media screen and (max-width: 1110px) {
    footer main {
      --width-wrapper: 90%;
    }
  }