/* Header */
.header{
    background: #009688;
    height: 4.5em;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;  
}

.header-mini{
  background: #009688;
  height: 3em;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;  
}



.center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: baseline; */
    margin: 0 21.5%;  
  }
  
.menu-and-logo{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.menu-and-logo-mini{
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  height: 25px;
 
}

.logo{
  width: 105px;
}

.logo.mini{
  width: 84px;
  margin-left: 6px;
  margin-top: 3px;
}

.cls-1-menu {
  fill: #ffffff;
}

.cls-2-menu {
  fill: #30c1a5;
}




.menu-icon{
  width: 30px;
    height: 30px;
    transform: scale(.8);
    fill: rgba(255,255,255,.8);
    padding-right: 8px;

}

.links{
  display: flex;
  font-size: .9em;
  padding-top: 28px;
  padding-right: 10px;
}

.links-mini{
  display: flex;
  justify-content: flex-end;
  font-size: .9em;
  padding-top: 9px;
  letter-spacing: .5px;
}

.header-link{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
    letter-spacing: .5px;
}

