/*search component*/

.search{
    background: #009688;
    height: 5em;
    z-index: 1;
    width: 100%;
    border-radius: 20;
    position: fixed;
    top: 4.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
}

.search-mini{
    background: #009688;
    height: 3em;
    z-index: 1;
    width: 100%;
    border-radius: 20;
    position: fixed;
    top: 3em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
    
}

.search-text{
    text-align: center;
    color: #fff;
    margin-bottom: 1.6em;
    font-size: 2em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}

.search-text-mini{
    text-align: center;
    color: #fff;
    margin-bottom: 1.6em;
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding-top: 6px;
}



.input-wrapper{
    --height: 45px;
    width: 530px;
    position: absolute;
    left: 50%;
    border: 2px solid #009688;
    background-color: white;
    transform: translate(-50%);
    height: var(--height);
    bottom: calc((var(--height) / 2) * -1);
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
     padding: 0 2rem;
     transition: var(--transition);
}

.input-wrapper-false{
    --height: 45px;
    width: 530px;
    position: absolute;
    left: 50%;
    border: 2px solid red;
    background-color: white;
    transform: translate(-50%);
    height: var(--height);
    bottom: calc((var(--height) / 2) * -1);
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
     padding: 0 2rem;
     transition: var(--transition);
}
.input-wrapper.mini-wrapper{
    bottom: -32px;
    --height: 40px;
}
.input-wrapper-false.mini-wrapper{
    bottom: -32px;
    --height: 40px;
}

.search-input{
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    height: 95%;
    text-align: center;
    color: #009688;
    font-size: 1.1rem;
    font-weight: 400;
    
}

.search-input-false{
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    height: 95%;
    text-align: center;
    color: red;
    font-size: 1.1rem;
    font-weight: 400;
    
}

.header-input-search {
    position: absolute;
    background: transparent;
    border: none;
    right: 0;
    top: 0;
    bottom: 0;
    width: 44px;
    cursor: pointer;
  }

  .header-input-search .search-icon {
    opacity: 0.4;
    stroke: #1b2738;
    width: 70%;
  }

  .svg-alert {
    --s: calc(var(--height) - 26px);
    position: absolute;
    left: 5px;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .svg-alert svg {
    width: 100%;
    fill: #f44336;
  }


